<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_listing_data_source" xsi:type="string">
                    Dungbv\Banner\Model\ResourceModel\Banner\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Dungbv\Slide\Virtual\Controller\Index\Index"
                 type="Dungbv\Slide\Controller\Index\Index">
        <arguments>
            <argument name="names" xsi:type="string">Abc</argument>
        </arguments>
    </virtualType>
    <type name="Dungbv\Slide\Controller\Index\Demo">
        <arguments>
            <argument name="index" xsi:type="object">Dungbv\Slide\Virtual\Controller\Index\Index</argument>
        </arguments>
    </type>

    <type name="Dungbv\Banner\Controller\Adminhtml\Index\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Dungbv\Banner\IndexImageUpload</argument>
        </arguments>
    </type>
    <virtualType name="Dungbv\Banner\IndexImageUpload" type="Dungbv\Banner\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">banner/tmp/images</argument>
            <argument name="basePath" xsi:type="string">banner/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
</config>
